<div class="quiz-container" *ngIf="!isLoading && questions.length > 0">

    <!-- Header -->
    <div class="quiz-header">

        <h2>Online Quiz</h2>

        <div class="timer"
            [ngClass]="{
              'warning': timeLeft <= 60 && timeLeft > 30,
              'danger': timeLeft <= 30
            }">

            ⏰
            {{ minutes < 10 ? '0'+minutes : minutes }} :
            {{ seconds < 10 ? '0'+seconds : seconds }}

        </div>

    </div>

    <!-- Progress -->
    <div class="progress mt-3">
        <div
            class="progress-bar"
            role="progressbar"
            [style.width.%]="((currentQuestion+1)/questions.length)*100">

            {{currentQuestion+1}} / {{questions.length}}

        </div>
    </div>

    <!-- Question Numbers -->
    <div class="question-navigation mt-4">

        <button
            *ngFor="let q of questions; let i=index"
            class="question-btn"

            [ngClass]="{
                'active': currentQuestion==i,
                'answered': selectedAnswers[q.id]
            }"

            (click)="currentQuestion=i">

            {{i+1}}

        </button>

    </div>

    <!-- Question -->
    <div class="question-card mt-4">

        <h4>

            Q{{currentQuestion+1}}.
            {{questions[currentQuestion].questionText}}

        </h4>

        <div
            *ngFor="let option of questions[currentQuestion].options"
            class="option-card">

            <label>

               <input
    type="radio"
    [name]="'answer'+questions[currentQuestion].id"
    [value]="option.id"
    [(ngModel)]="selectedAnswers[questions[currentQuestion].id]"(change)="saveAnswer(
      questions[currentQuestion].id,option.id
    )">

                {{option.optionText}}

            </label>

        </div>

    </div>

    <!-- Footer Buttons -->
    <div class="buttons mt-4">

        <button
            class="btn btn-outline-secondary"
            (click)="previousQuestion()"
            [disabled]="currentQuestion==0">

            ◀ Previous

        </button>

        <button
            *ngIf="currentQuestion < questions.length-1"
            class="btn btn-primary"
            (click)="nextQuestion()">

            Next ▶

        </button>

        <button
            *ngIf="currentQuestion==questions.length-1"
            class="btn btn-success"
            (click)="submitQuiz()">

            Submit Quiz

        </button>

    </div>

</div>

<div *ngIf="isLoading" class="text-center mt-5">
    <h4>Loading Questions...</h4>
</div>

<div *ngIf="!isLoading && questions.length==0" class="text-center mt-5">
    <h4>No Questions Available</h4>
</div>