<div class="container mt-4">

    <h2 class="text-center mb-4">Answer Review</h2>

    <div *ngFor="let ans of answers; let i = index" class="card mb-3 shadow-sm">

        <div class="card-header">
            <strong>Question {{ i + 1 }}</strong>
        </div>

        <div class="card-body">

            <h5>{{ ans.question }}</h5>

            <p>
                <strong>Your Answer:</strong>
                <span>{{ ans.selectedOption }}</span>
            </p>

            <p>
                <strong>Correct Answer:</strong>
                <span>{{ ans.correctOption }}</span>
            </p>

            <p *ngIf="ans.correct" class="text-success fw-bold">
                ✔ Correct
            </p>

            <p *ngIf="!ans.correct" class="text-danger fw-bold">
                ✘ Wrong
            </p>

        </div>

    </div>

</div>