<div class="table-container">
  <h2>Quiz Users</h2>

  <table class="user-table" *ngIf="users$ | async as users; else loading">

    <thead>
      <tr>
        <th>#</th>
        <th>User Name</th>
        <th>Email</th>
        <!-- <th>Score</th>
        <th>Completed Time</th>
        <th>Status</th> -->
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <!-- <td>{{ getLatestAttempt(user)?.score ?? '-' }}</td>
        <td>{{user.completedAt|date:'dd/MM/yyyy hh:mm a'}}</td>
        <td>{{ getLatestAttempt(user)?.status ?? '-' }}</td> -->
        <td>{{ user.role }}</td>

        <td>
          <button class="btn-delete" (click)="editUser(user.id)">Edit</button>
          <button class="btn-delete" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>

      <tr *ngIf="users?.length === 0">
        <td colspan="7" style="text-align:center;">
          No users found
        </td>
      </tr>

    </tbody>
  </table>

  <ng-template #loading>
    <div>Loading users...</div>
  </ng-template>
</div>

<!-- EDIT FORM
<div *ngIf="selectedUser" class="edit-form">

  <h3>Edit User</h3>

  <input [(ngModel)]="selectedUser.name" placeholder="Name" />
  <input [(ngModel)]="selectedUser.email" placeholder="Email" />

  <div style="margin-top: 10px;">
    <button (click)="selectedUser = null">Cancel</button>
  </div>

</div> -->